// hero section
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  min-height: 550px;
  background-image: linear-gradient(
      
      rgba(72, 75, 78, 0.52),
      rgba(38, 36, 37, 0.73)
    ),
    url("../imgs/home-bg.jpg");
  background-position: center;
width: 100%;
  .hero_cleanblog {
    color: white;
  
    
    h1 {
      font-size: 70px;
      font-weight: bolder;
      max-width: 100%;
      width: 400px;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
    .hero_subcleanblog {
      font-size: 30px;
      font-weight: 100;
    
    }
  }
  
}
@media  screen and (max-width: 991px){
  .hero_cleanblog{
  h1 {
    font-size: 60px !important; 
    // max-width: 720px;
    display: flex;
    justify-content: center;

  }

}
}
@media  screen and (max-width: 413px){
  .hero_subcleanblog{
   width: 300px;
  
  }
}
// header section ended
// text section started
.text__inside__header{
  color: #212529;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  line-height: 1.2;
}
.text__inside{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  max-width: 720px;
  border-bottom:1px solid black;
  margin-bottom: 10px;
  
}
.text__inside__contentlink{
  font-size: 30px;
  font-weight: 100; 
  // width: 720px;
  max-width: 720px;
}
.text__inside__tail{
  font-size: 20px;
  max-width: 720px;
  color: #6c757d;

}
.text__inside__header:hover{
 color:#0085A1 ; 
}
.text__inside__tail__link{
  color: black;
}
.text__inside__tail__link:hover{
  color:#0085A1 ;  
}
.home__text{
  margin-bottom: 20px;
  margin-top: 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text__inside__headerlink{
  font-size: 44px;
  font-weight: bolder;
}
